@import "../../global.scss";

.contact {
  overflow: hidden; 
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    img {
      height: 100%;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
      font-family: 'Righteous', cursive;
      background:url('https://media.giphy.com/media/l396ISDU0oS6gDIUU/giphy.gif') center center no-repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size:7rem;
      letter-spacing:10px;
      background-size:cover;
      margin:0px;
      color:transparent;
      @include mobile{
        font-size: 60px;
      }
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }
}
